.most-popular {
  display: flex;
  padding: 20px;
  margin-top: 15px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.most-popular .item {
  background-color: #27292a;
  padding: 30px 20px;
  border-radius: 10px;
  flex: 0 1 21%;
  margin-bottom: 25px;
  text-align: center;
}

.item .content {
  margin-top: 5px;
  color: white;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
